.container {
  width: 100%;
  // height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-bg);
  gap: 2rem;
  padding: 1rem 2rem;

  h2 {
    font-family: var(--concertOne);
    font-size: 2.5rem;
    text-shadow: 5px 3px 5px #443dc1;
    letter-spacing: 0.3rem;
    width: 100%;
  }

  .courseDetails {
    width: 30rem;
    padding: 2rem 1rem;
    border: 2px dashed #ca004e;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    &.courseCreated {
      opacity: 0.5;
      pointer-events: none;
    }

    .selectCourseImage {
      background-color: #d9d9d9;
      height: 10rem;
      width: 10rem;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      input {
        cursor: pointer;
        display: none;
      }

      img {
        max-height: 10rem;
        max-width: 10rem;
        cursor: pointer;
      }
    }

    .enterCourseDetails {
      width: 100%;

      .enterData {
        position: relative;
        margin: 1.5rem 0;
        width: 100%;

        input,
        textarea {
          outline: none;
          border: none;
          width: 100%;
          padding: 0.5rem 1rem;
          border-radius: 0.2rem;
          background-color: var(--light-bg);
          font-size: 1rem;
          border: 1px solid #838383;
          font-family: var(--poppins);
          color: #222222;

          &:focus,
          &:valid {
            outline: none;
            border: 2px solid #303030;
          }

          &:focus ~ span,
          &:valid ~ span {
            color: #303030;
            border-left: 2px solid #303030;
            border-right: 2px solid #303030;
            transform: translateX(10px) translateY(-1rem);
            background-color: var(--light-bg);
            font-size: 0.65rem;
          }
        }

        textarea {
          height: 5rem;
          overflow: hidden;
          overflow-y: scroll;

          &::-webkit-scrollbar {
            display: none;
          }
        }

        span {
          position: absolute;
          left: 0.2rem;
          top: 0.1rem;
          color: #838383;
          pointer-events: none;
          transition: 0.5s;
          font-size: 1rem;
          padding: 0.3rem;
          font-family: var(--poppins);
        }
      }
    }

    .createCourse {
      width: 5rem;
      position: relative;
      background-color: #8a0035;
      border: none;
      color: #ffffff;
      padding: 0.5rem 1rem;
      text-align: center;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
      border-radius: 0.2rem;

      &:hover {
        background-color: #ca004e;
      }
    }
  }

  .addLevel {
    display: none;
    width: 30rem;
    padding: 2rem 1rem;
    border: 2px dashed #ca004e;
    border-radius: 1rem;

    &.nowAddLevel {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      align-items: center;
      justify-content: center;
    }

    .levelDetails {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      align-items: center;
      justify-content: center;
      width: 100%;

      h3 {
        font-family: var(--concertOne);
        padding: 0.5rem;
        box-shadow: 0px 10px 10px -2px #d7d9db;
        text-align: center;
      }

      .enterData {
        position: relative;
        width: 100%;

        input,
        textarea {
          outline: none;
          border: none;
          width: 100%;
          padding: 0.5rem 1rem;
          border-radius: 0.2rem;
          background-color: var(--light-bg);
          font-size: 1rem;
          border: 1px solid #838383;
          font-family: var(--poppins);
          color: #222222;

          &:focus,
          &:valid {
            outline: none;
            border: 2px solid #303030;
          }

          &:focus ~ span,
          &:valid ~ span {
            color: #303030;
            border-left: 2px solid #303030;
            border-right: 2px solid #303030;
            transform: translateX(10px) translateY(-1rem);
            background-color: var(--light-bg);
            font-size: 0.65rem;
          }
        }

        textarea {
          height: 5rem;
          overflow: hidden;
          overflow-y: scroll;

          &::-webkit-scrollbar {
            display: none;
          }
        }

        span {
          position: absolute;
          left: 0.2rem;
          top: 0.1rem;
          color: #838383;
          pointer-events: none;
          transition: 0.5s;
          font-size: 1rem;
          padding: 0.3rem;
          font-family: var(--poppins);
        }
      }

      .addDoc {
        position: relative;
        background-color: white;
        border: none;
        color: #8a0035;
        padding: 0.5rem 1rem;
        text-align: center;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        border-radius: 0.2rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        border: 1px dashed #ca004e;
        font-size: 1rem;
        font-weight: bold;
        font-family: var(--poppins);

        &.filesUploading {
          opacity: 0.5;
        }

        input {
          cursor: pointer;
          display: none;
        }

        &:hover {
          background-color: #ca004e;
          color: white;

          &::after {
            color: white;
            border: 1px dashed white;
          }
        }

        &::after {
          content: "+";
          border-radius: 50%;
          border: 1px dashed #ca004e;
          width: 2rem;
          height: 2rem;
          display: block;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1rem;
          font-weight: bold;
        }
      }
    }

    .questionForm {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      align-items: center;
      justify-content: center;
      width: 100%;

      h3 {
        font-family: var(--concertOne);
        padding: 0.5rem;
        box-shadow: 0px 10px 10px -2px #d7d9db;
        text-align: center;
      }

      .questionData {
        position: relative;
        width: 90%;

        input {
          outline: none;
          border: none;
          width: 100%;
          padding: 0.5rem 1rem;
          border-radius: 0.2rem;
          background-color: var(--light-bg);
          font-size: 1rem;
          border: 1px solid #838383;
          font-family: var(--poppins);
          color: #222222;

          &:focus,
          &:valid {
            outline: none;
            border: 2px solid #303030;
          }

          &:focus ~ span,
          &:valid ~ span {
            color: #303030;
            border-left: 2px solid #303030;
            border-right: 2px solid #303030;
            transform: translateX(10px) translateY(-1rem);
            background-color: var(--light-bg);
            font-size: 0.65rem;
          }
        }

        span {
          position: absolute;
          left: 0.2rem;
          top: 0.1rem;
          color: #838383;
          pointer-events: none;
          transition: 0.5s;
          font-size: 1rem;
          padding: 0.3rem;
          font-family: var(--poppins);
        }
      }

      .choiceData {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;

        input {
          width: 8rem;
          max-width: 8rem;
          border: none;
          outline: none;
          background-color: transparent;
          padding: 0.5rem 1rem;
          transition: all 0.2s ease-in-out;
          background-color: #d6e0f5;
          border-radius: 0.2rem;
          overflow: hidden;
          overflow-x: scroll;
          text-align: center;
          font-family: var(--poppins);

          &::-webkit-scrollbar {
            display: none;
          }

          &:focus {
            border: none;
            outline: none;
            background-color: transparent;
            border-bottom: 1px solid #0033cc;
          }
        }

        .addChoice {
          border: none;
          outline: none;
          padding: 0.5rem 1rem;
          color: white;
          font-size: 1rem;
          border-radius: 0.2rem;
          background-color: #001a66;
          cursor: pointer;
          transition: all 0.2s ease-in-out;

          &:hover {
            background-color: #0033cc;
          }
        }

        .choices {
          width: 100%;
          padding: 1rem;
          border: 1px solid #1a1aff;
          border-radius: 0.5rem;
          height: fit-content;
          max-height: 15rem;
          display: grid;
          grid-template-columns: auto auto;
          gap: 0.5rem;
          overflow: hidden;
          overflow-y: scroll;
          background-color: #ffffff;

          @media (max-width: 767.98px) {
            grid-template-columns: auto;
          }

          &.scrollable {
            overflow-y: scroll;
            padding: 2rem 0;
          }

          &::-webkit-scrollbar {
            width: 6px;
          }

          &::-webkit-scrollbar-track {
            background: transparent;
          }

          &::-webkit-scrollbar-thumb {
            background: rgb(158, 158, 158);
            border-radius: 10px;
          }

          &::-webkit-scrollbar-thumb:hover {
            background: gray;
          }
        }
      }

      .addQues {
        width: 16rem;
        border: none;
        border: 1px solid #8a0035;
        outline: none;
        padding: 0.5rem 1rem;
        color: white;
        font-size: 1rem;
        border-radius: 0.2rem;
        background-color: #8a0035;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: #b30044;
          color: white;
        }
      }
    }

    .questions {
      width: 100%;
    }

    .empty {
      font-family: var(--roboto);
      color: rgb(121, 7, 7);
      text-align: center;
      font-weight: bold;
      padding: 0.5rem;
    }

    .finishCreatingLevel {
      width: 16rem;
      border: none;
      border: 1px dashed #131b20;
      outline: none;
      padding: 0.5rem 1rem;
      color: #131b20;
      font-size: 1rem;
      border-radius: 0.2rem;
      background-color: white;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      font-weight: bold;

      &:hover {
        background-color: #131b20;
        color: white;
      }
    }

    .levels {
      width: 100%;
    }
  }

  .finishCreatingCourse {
    position: relative;
    color: white;
    font-size: 1rem;
    padding: 0.8rem 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    border-radius: 2rem;
    box-shadow: 0px 6px 10px 1px rgb(160, 0, 61);
    border: 1px solid #9b013c;
    background-color: #9b013c;
    transition: all 0.2s ease-in-out;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, transparent, #fff, transparent);
      transition: 0.5s;
    }

    &:hover {
      background-color: #b40347;
    }

    &:hover::before {
      left: 100%;
    }
  }
}
