.body {
  width: 100%;
  // height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;

  @media (max-width: 1199.98px) {
    flex-direction: column;
  }

  h2 {
    margin: 1rem 1.5rem;
  }

  .profileInfo {
    width: 100%;
    padding: 1rem 1.5rem;

    @media (max-width: 1199.98px) {
      width: 100%;
    }

    .info {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 3rem;
      // border: 1px solid #303030;
      box-shadow: 6px 6px 10px 1px rgba(0, 2, 161, 1);
      border-radius: 0.2rem;
      padding: 1rem 1.5rem;
      background-color: #e0ddfc;
      flex-direction: column;

      @media (max-width: 991.98px) {
        gap: 1rem;
      }

      .profileImage {
        width: 9rem;
        height: 9rem;
        border-radius: 50%;

        @media (max-width: 575.98px) {
          margin: auto;
        }
      }

      .userPersonalInfo {
        flex: 1;
        display: flex;
        width: 100%;
        gap: 1.5rem;

        @media (max-width: 991.98px) {
          width: 100%;
        }

        @media (max-width: 575.98px) {
          flex-direction: column;
          gap: 0;
        }

        .slide {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .enterInfo {
            display: flex;
            align-items: flex-start;
            margin: 1rem 0;
            // gap: 1rem;

            @media (max-width: 991.98px) {
              width: 100%;
            }

            @media (max-width: 575.98px) {
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;
              gap: 0.5rem;
            }

            label {
              width: 8rem;
              font-weight: bold;
            }

            p {
              width: 100%;
              background-color: #ffffff;
              border: none;
              box-shadow: 6px 6px 10px 1px #6a68fa;
              border-radius: 0.2rem;
              outline: none;
              padding: 0.2rem 0.5rem;
              overflow: hidden;

              &::-webkit-scrollbar {
                display: none;
              }

              @media (max-width: 991.98px) {
                width: 80%;
              }

              @media (max-width: 575.98px) {
                width: 100%;
                max-width: 100%;
                overflow: hidden;
                overflow-x: scroll;
              }

              &.isLoading {
                box-shadow: none !important;
                animation: fadingAnimation 1s ease infinite alternate;
                background-color: rgb(86, 89, 252);
              }

              &.largeData {
                min-height: 8rem;
                overflow-y: scroll;
              }

              &.smallData {
                height: 2rem;
                overflow-x: scroll;
                white-space: nowrap;
              }
            }
          }

          .sideBySide {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width: 991.98px) {
              width: 100%;
              gap: 1rem;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;
            }

            div {
              display: flex;

              @media (max-width: 991.98px) {
                width: 100%;
              }

              @media (max-width: 575.98px) {
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 0.5rem;
              }

              label {
                width: 6.5rem;
                font-weight: bold;

                @media (max-width: 991.98px) {
                  width: 8rem;
                }
              }

              p {
                width: 6rem;
                height: 2rem;
                background-color: #ffffff;
                border: none;
                box-shadow: 6px 6px 10px 1px #6a68fa;
                border-radius: 0.2rem;
                outline: none;
                padding: 0.2rem 0.5rem;
                font-size: 0.9rem;
                overflow: hidden;
                overflow-x: scroll;
                white-space: nowrap;

                @media (max-width: 991.98px) {
                  width: 80%;
                }

                @media (max-width: 575.98px) {
                  width: 100%;
                }

                &::-webkit-scrollbar {
                  display: none;
                }

                &.isLoading {
                  box-shadow: none !important;
                  animation: fadingAnimation 1s ease infinite alternate;
                  background-color: rgb(86, 89, 252);
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes fadingAnimation {
  to {
    opacity: 0.5;
  }
}
