.container {
  position: absolute;
  top: 3.5rem;
  list-style-type: none;
  width: 12rem;
  z-index: 10;

  &.visible {
    opacity: 1;
    visibility: visible;
    transform: translateX(-10rem);
    transition: 1.5s ease-in;
  }

  &.invisible {
    opacity: 0;
    visibility: hidden;
    transform: translateX(10rem);
    transition: 1.5s ease-out;
  }

  li {
    border-bottom: 0.5px solid transparent;

    &:nth-child(1) {
      .sidebarOptions {
        border-radius: 0.5rem 0.5rem 0 0;
      }
    }

    &:nth-child(4) {
      .sidebarOptions {
        border-radius: 0 0 0.5rem 0.5rem;
      }
    }

    .sidebarOptions {
      background-color: rgb(5, 2, 82);
      width: 100%;
      color: white;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      cursor: pointer;
      text-decoration: none;
      font-family: var(--carterOne);

      img {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
