.container {
  width: 100%;
  // height: 100%;
  min-height: 100vh;
  background-color: var(--light-bg);

  .sidebar {
    width: 100%;
    // height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem 2rem;
    background-color: var(--light-bg);
    box-shadow: 0px -3px 10px -2px #d7d9db inset;

    @media (max-width: 991.98px) {
      display: none;
    }

    .sidebarOptions {
      text-decoration: none;
      position: relative;
      transition: 0.5s;

      &:hover {
        letter-spacing: 0.1rem;
        box-shadow: 0 0 30px var(--clr);

        span {
          border: 2px solid var(--clr);
          color: var(--clr);
          font-weight: bold;
        }

        i::before {
          width: 20px;
          left: 80%;
          border-color: var(--clr);
        }

        i::after {
          width: 20px;
          left: 20%;
          border-color: var(--clr);
        }
      }

      &::before {
        content: "";
        position: absolute;
        inset: 2px;
        background-color: transparent;
      }

      span {
        position: relative;
        width: 100%;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        cursor: pointer;
        font-family: var(--carterOne);
        z-index: 1;
        border: 2px solid #828487;
        color: #27282c;

        img {
          width: 2rem;
          height: 2rem;
        }
      }

      i {
        position: absolute;
        inset: 0;
        display: block;

        &::before {
          content: "";
          position: absolute;
          bottom: -3.5px;
          left: 20%;
          width: 10px;
          height: 5px;
          border: 2px solid #27282c;
          background-color: var(--light-bg);
          transition: 0.5s;
          z-index: 10;
          transform: translateX(-50%);
        }

        &::after {
          content: "";
          position: absolute;
          top: -3.5px;
          left: 80%;
          width: 10px;
          height: 5px;
          border: 2px solid #27282c;
          background-color: var(--light-bg);
          transition: 0.5s;
          z-index: 10;
          transform: translateX(-50%);
        }
      }
    }
  }

  .main {
    background-color: var(--light-bg);
  }
}
