.container {
  width: 100%;
  // height: 100%;
  min-height: 100vh;
  background-color: white;

  .sidebar {
    width: 100%;
    // height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 0.5rem 1rem;

    @media (max-width: 991.98px) {
      display: none;
    }

    .sidebarOptions {
      flex: 1;
      width: 100%;
      color: #ca004e;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      cursor: pointer;
      border: 1px solid #ca004e;
      transition: all 0.3s ease-in-out;
      text-decoration: none;
      border-radius: 2rem;
      box-shadow: 0px 6px 10px 1px rgba(202, 0, 78, 1);

      &:hover {
        background-color: #ca004e;
        box-shadow: none;
        color: white;
      }

      &:focus {
        background-color: #db1e66;
        box-shadow: none;
        color: white;
      }

      img {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  .main {
    flex: 6;
    background-color: white;
  }
}
