.container {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: white;

  .body {
    flex: 5;
    height: 100%;

    h2 {
      margin: 1rem 1.5rem 0 1.5rem;
    }

    .profileInfo {
      padding: 0.5rem;

      .userInfo {
        margin: 1rem 1.5rem;
        box-shadow: 6px 6px 10px 1px rgba(0, 2, 161, 1);
        border-radius: 0.2rem;
        background-color: #e0ddfc;

        .info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 1rem 1.5rem;

          @media (max-width: 1099.98px) {
            flex-direction: column;
            gap: 1rem;
          }

          .profileImage {
            height: 7rem;
            width: 7rem;
            border-radius: 0.5rem 0 0 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;

            input {
              cursor: pointer;
              display: none;
            }

            img {
              height: 7rem;
              width: 7rem;
              border-radius: 50%;
              cursor: pointer;
            }
          }

          .userPersonalInfo {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;

            @media (max-width: 767.98px) {
              width: 100%;
            }

            .enterInfo {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              margin: 0.5rem 0;

              @media (max-width: 767.98px) {
                width: 100%;
                flex-direction: column;
                gap: 0.5rem;
              }

              label {
                width: 6.5rem;
                font-weight: bold;

                @media (max-width: 767.98px) {
                  width: 15%;
                }

                @media (max-width: 575.98px) {
                  width: 100%;
                }
              }

              input,
              textarea {
                width: 35rem;
                border: none;
                box-shadow: 6px 6px 10px 1px #6a68fa;
                border-radius: 0.2rem;
                outline: none;
                padding: 0.2rem 0.5rem;
                overflow: hidden;
                overflow-y: scroll;

                @media (max-width: 767.98px) {
                  width: 100%;
                }

                &::-webkit-scrollbar {
                  display: none;
                }

                &.isLoading {
                  box-shadow: none !important;
                  animation: fadingAnimation 1s ease infinite alternate;
                  background-color: rgb(86, 89, 252);
                }

                &:focus {
                  border: 1px solid rgba(0, 2, 161, 1);
                  outline: none;
                }
              }

              input {
                height: 2rem;
              }
            }

            .sideBySide {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin: 0.5rem 0;

              @media (max-width: 767.98px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 0.5rem;
              }

              .enterGender {
                display: flex;
                align-items: center;
                width: 13rem;

                @media (max-width: 767.98px) {
                  width: 100%;
                  flex-direction: column;
                  align-items: flex-start;
                  gap: 0.5rem;
                }

                label {
                  width: 10rem;
                  font-weight: bold;

                  @media (max-width: 767.98px) {
                    width: 30%;
                  }

                  @media (max-width: 575.98px) {
                    width: 100%;
                  }
                }

                select {
                  width: 9rem;
                  height: 2rem;
                  border: none;
                  box-shadow: 6px 6px 10px 1px #6a68fa;
                  border-radius: 0.2rem;
                  outline: none;
                  padding: 0.2rem 0.5rem;

                  @media (max-width: 767.98px) {
                    width: 13rem;
                  }

                  @media (max-width: 575.98px) {
                    width: 100%;
                  }

                  &.isLoading {
                    box-shadow: none !important;
                    animation: fadingAnimation 1s ease infinite alternate;
                    background-color: rgb(86, 89, 252);
                  }

                  &:focus {
                    border: 1px solid rgba(0, 2, 161, 1);
                    outline: none;
                  }
                }
              }

              .enterBirthDate {
                display: flex;
                align-items: center;
                width: 13rem;

                @media (max-width: 767.98px) {
                  width: 100%;
                  flex-direction: column;
                  align-items: flex-start;
                  gap: 0.5rem;
                }

                label {
                  width: 15rem;
                  font-weight: bold;

                  @media (max-width: 767.98px) {
                    width: 30%;
                  }

                  @media (max-width: 575.98px) {
                    width: 100%;
                  }
                }

                input {
                  width: 6rem;
                  height: 2rem;
                  border: none;
                  box-shadow: 6px 6px 10px 1px #6a68fa;
                  border-radius: 0.2rem;
                  outline: none;
                  padding: 0.2rem 0;
                  text-align: center;

                  @media (max-width: 767.98px) {
                    width: 13rem;
                  }

                  @media (max-width: 575.98px) {
                    width: 100%;
                  }

                  &.isLoading {
                    box-shadow: none !important;
                    animation: fadingAnimation 1s ease infinite alternate;
                    background-color: rgb(86, 89, 252);
                  }

                  &:focus {
                    border: 1px solid rgba(0, 2, 161, 1);
                    outline: none;
                  }
                }
              }
            }

            .enterAddress {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 1rem;
              margin: 0.5rem 0;

              @media (max-width: 767.98px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 0.5rem;
              }

              div {
                display: flex;
                align-items: center;
                gap: 3rem;

                @media (max-width: 767.98px) {
                  width: 100%;
                  flex-direction: column;
                  align-items: flex-start;
                  gap: 0.5rem;
                }

                label {
                  display: block;
                  font-weight: bold;

                  @media (max-width: 767.98px) {
                    width: 15%;
                  }

                  @media (max-width: 575.98px) {
                    width: 100%;
                  }
                }

                input {
                  width: 7rem;
                  height: 2rem;
                  border: none;
                  box-shadow: 6px 6px 10px 1px #6a68fa;
                  border-radius: 0.2rem;
                  outline: none;
                  padding: 0.2rem 0.5rem;

                  @media (max-width: 767.98px) {
                    width: 13rem;
                  }

                  @media (max-width: 575.98px) {
                    width: 100%;
                  }

                  &.isLoading {
                    box-shadow: none !important;
                    animation: fadingAnimation 1s ease infinite alternate;
                    background-color: rgb(86, 89, 252);
                  }

                  &:focus {
                    border: 1px solid rgba(0, 2, 161, 1);
                    outline: none;
                  }
                }
              }
            }
          }
        }

        .bio {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          padding: 1rem;
          margin: 1rem auto;

          @media (max-width: 1099.98px) {
            width: 44rem;
          }

          @media (max-width: 991.98px) {
            width: 100%;
          }

          @media (max-width: 767.98px) {
            flex-direction: column;
            gap: 1rem;
          }

          label {
            width: 5rem;
            font-weight: bold;

            @media (max-width: 1099.98px) {
              width: 8rem;
            }

            @media (max-width: 991.98px) {
              width: 19%;
            }

            @media (max-width: 575.98px) {
              width: 100%;
            }
          }

          textarea {
            width: 100%;
            height: 15rem;
            background-color: #ffffff;
            border: none;
            box-shadow: 6px 6px 10px 1px #6a68fa;
            border-radius: 0.2rem;
            outline: none;
            padding: 0.2rem 0.5rem;

            @media (max-width: 767.98px) {
              width: 100%;
            }

            &::-webkit-scrollbar {
              display: none;
            }

            &.isLoading {
              box-shadow: none !important;
              animation: fadingAnimation 1s ease infinite alternate;
              background-color: rgb(86, 89, 252);
            }

            &::focus {
              border: 1px solid rgba(0, 2, 161, 1);
              outline: none;
            }
          }
        }
      }
      .options {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 2rem;
        padding: 0.5rem 1rem;

        @media (max-width: 767.98px) {
          justify-content: space-between;
        }

        button {
          width: 15rem;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          background-color: #52047b;
          color: white;
          padding: 0.3rem 0.5rem;
          text-align: center;
          border: none;
          outline: none;
          border-radius: 0.2rem;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          @media (max-width: 767.98px) {
            width: 100%;
          }

          &:hover {
            background-color: #8306c6;
          }
        }
      }
    }
  }
}

@keyframes fadingAnimation {
  to {
    opacity: 0.5;
  }
}
