.container {
  width: 100%;
  // height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  gap: 2rem;
  margin: 2rem auto;

  .courseDetails {
    width: 30rem;
    padding: 0.5rem 1rem;
    border: 2px dashed #ca004e;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &.courseCreated {
      opacity: 0.5;
      pointer-events: none;
    }

    .selectCourseImage {
      background-color: #d9d9d9;
      height: 10rem;
      width: 10rem;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-height: 10rem;
        max-width: 10rem;
      }
    }

    .enterCourseDetails {
      width: 100%;

      .enterData {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.5rem;
        margin: 1rem 0;

        @media (max-width: 849.98px) {
          width: 100%;
        }

        input,
        textarea {
          outline: none;
          width: 100%;
          border: 1px solid #303030;
          padding: 0.3rem 0.5rem;
          border-radius: 0.2rem;

          @media (max-width: 849.98px) {
            width: 100%;
          }

          &:focus {
            outline: none;
            border: 1px solid #303030;
          }

          &.invalidEmail {
            border: 2px solid red;
          }

          &.shortData {
            width: 40%;
          }
        }

        textarea {
          height: 5rem;
          overflow: hidden;
          overflow-y: scroll;

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }

  .courseDocs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 30rem;
    padding: 0.5rem 1rem;
    border: 2px dashed #ca004e;
    border-radius: 1rem;

    &.finishAddingFiles {
      opacity: 0.5;
      pointer-events: none;
    }

    .addedDocs {
      max-height: 20rem;
      overflow: hidden;
      overflow-y: scroll;
      padding: 0.5rem;

      &.filesUploading {
        opacity: 0.5;
      }

      /* width */
      &::-webkit-scrollbar {
        width: 5px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #bdbdbd;
        border-radius: 0.5rem;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #838383;
      }
    }
  }

  .courseOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;

    button,
    a {
      width: 16rem;
      border: none;
      outline: none;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border-radius: 0.4rem;
      background-color: white;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      text-decoration: none;
      text-align: center;

      &.takeCourse {
        border: 1px solid #009933;
        color: #009933;

        &:hover {
          background-color: #009933;
          color: white;
        }
      }

      &.logOut {
        border: 1px solid #b30000;
        color: #b30000;

        &:hover {
          background-color: #b30000;
          color: white;
        }
      }

      &.continueCourse {
        border: 1px solid #002db3;
        color: #002db3;

        &:hover {
          background-color: #002db3;
          color: white;
        }
      }
    }
  }
}
