.container {
  width: 100%;
  // height: 100%;
  min-height: 100vh;
  background-color: white;

  .navbarContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #333;

    .navbar {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      background-color: #333;
      // box-shadow: 10px 10px 5px 0px rgba(13, 13, 13, 0.75) inset;
      // -webkit-box-shadow: 10px 10px 5px 0px rgba(13, 13, 13, 0.75) inset;
      // -moz-box-shadow: 10px 10px 5px 0px rgba(13, 13, 13, 0.75) inset;

      @media (max-width: 767.98px) {
        width: 100%;
      }

      @media (max-width: 575.98px) {
        display: none;
      }

      li {
        height: 3rem;
        // width: 8rem;
        flex: 1;

        button,
        select {
          border: none;
          outline: none;
          height: 100%;
          width: 100%;
          cursor: pointer;
          text-align: center;
          color: white;
          font-weight: bold;
        }

        &.rotateEditor {
          button {
            background-color: #cc0000;
            box-shadow: 10px 10px 5px 0px #800000 inset;
            -webkit-box-shadow: 10px 10px 5px 0px #800000 inset;
            -moz-box-shadow: 10px 10px 5px 0px #800000 inset;
          }
        }

        &.run {
          button {
            background-color: #04aa6d;
            box-shadow: 10px 10px 5px 0px #017a4e inset;
            -webkit-box-shadow: 10px 10px 5px 0px #017a4e inset;
            -moz-box-shadow: 10px 10px 5px 0px #017a4e inset;
          }
        }

        &.clear {
          button {
            background-color: #0066ff;
            box-shadow: 10px 10px 5px 0px #013686 inset;
            -webkit-box-shadow: 10px 10px 5px 0px #013686 inset;
            -moz-box-shadow: 10px 10px 5px 0px #013686 inset;
          }
        }

        &.theme {
          select {
            background-color: #737373;
            box-shadow: 10px 10px 5px 0px #404040 inset;
            -webkit-box-shadow: 10px 10px 5px 0px #404040 inset;
            -moz-box-shadow: 10px 10px 5px 0px #404040 inset;
          }
        }

        &.lan {
          select {
            background-color: #cc0066;
            box-shadow: 10px 10px 5px 0px #800040 inset;
            -webkit-box-shadow: 10px 10px 5px 0px #800040 inset;
            -moz-box-shadow: 10px 10px 5px 0px #800040 inset;
          }
        }
      }
    }

    .smallMenu {
      display: none;
      margin: 0.5rem;

      @media (max-width: 575.98px) {
        display: block;
      }

      .showMenu {
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;
      }
    }
  }

  .ide {
    width: 100%;
    display: flex;

    @media (max-width: 575.98px) {
      min-height: fit-content;
      height: fit-content;
      display: block;
    }

    &.rotate {
      flex-direction: column !important;

      .editors {
        flex-direction: row !important;
      }

      .result {
        height: 30rem;
      }
    }

    .editors {
      flex: 1;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;

      @media (max-width: 575.98px) {
        height: 100rem;
      }
    }

    .result {
      position: relative;
      flex: 1;
      width: 100%;
      height: 100vh;
      box-shadow: 10px 10px 5px 0px rgba(201, 198, 198, 0.75) inset;
      -webkit-box-shadow: 10px 10px 5px 0px rgba(201, 198, 198, 0.75) inset;
      -moz-box-shadow: 10px 10px 5px 0px rgba(201, 198, 198, 0.75) inset;

      @media (max-width: 575.98px) {
        height: 40rem;
      }

      .resData {
        border: none;
      }

      .loading {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
