.studentScore {
  width: 100%;
  // height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-bg);
  gap: 2rem;
  padding: 1rem;
  position: relative;

  .studentData {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    background-color: #e0e7eb;
    box-shadow: 0px 5px 7px 5px rgb(39, 39, 39);
    // border: 2px dasrgb(125, 162, 184)te;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;

    .enteredData {
      position: relative;
      margin: 1.5rem 0;
      width: 100%;

      input {
        outline: none;
        border: none;
        width: 100%;
        padding: 0.8rem 1rem;
        border-radius: 0.2rem;
        background-color: #e0e7eb;
        font-size: 1rem;
        border: 2px solid #32434e;
        font-family: var(--poppins);
        color: #222222;
        box-shadow: 0px 0px 7px 5px #a5c2d4 inset;

        &:valid {
          outline: none;
          border: 2px solid #32434e;
        }
      }

      span {
        position: absolute;
        left: 10px;
        top: -1rem;
        color: #838383;
        pointer-events: none;
        font-size: 1rem;
        padding: 0.3rem;
        font-family: var(--poppins);
        color: #303030;
        border-left: 2px solid #32434e;
        border-right: 2px solid #32434e;
        background-color: #e0e7eb;
        font-size: 0.65rem;
      }
    }

    .studentCode {
      width: 100%;

      .ide {
        width: 100%;
        // height: 100%;
        min-height: 100vh;
        background-color: var(--light-bg);

        .navbarContainer {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          background-color: #333;

          .navbar {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            list-style-type: none;
            background-color: #333;
            // box-shadow: 10px 10px 5px 0px rgba(13, 13, 13, 0.75) inset;
            // -webkit-box-shadow: 10px 10px 5px 0px rgba(13, 13, 13, 0.75) inset;
            // -moz-box-shadow: 10px 10px 5px 0px rgba(13, 13, 13, 0.75) inset;

            @media (max-width: 767.98px) {
              width: 100%;
            }

            @media (max-width: 575.98px) {
              display: none;
            }

            li {
              height: 3rem;
              // width: 8rem;
              flex: 1;

              button,
              select {
                border: none;
                outline: none;
                height: 100%;
                width: 100%;
                cursor: pointer;
                text-align: center;
                color: white;
                font-weight: bold;
              }

              &.rotateEditor {
                button {
                  background-color: #cc0000;
                  box-shadow: 10px 10px 5px 0px #800000 inset;
                  -webkit-box-shadow: 10px 10px 5px 0px #800000 inset;
                  -moz-box-shadow: 10px 10px 5px 0px #800000 inset;
                }
              }

              &.theme {
                select {
                  background-color: #737373;
                  box-shadow: 10px 10px 5px 0px #404040 inset;
                  -webkit-box-shadow: 10px 10px 5px 0px #404040 inset;
                  -moz-box-shadow: 10px 10px 5px 0px #404040 inset;
                }
              }
            }
          }

          .smallMenu {
            display: none;
            margin: 0.5rem;

            @media (max-width: 575.98px) {
              display: block;
            }

            .showMenu {
              border: none;
              outline: none;
              background: transparent;
              cursor: pointer;
            }
          }
        }

        .ide {
          width: 100%;
          display: flex;

          @media (max-width: 575.98px) {
            min-height: fit-content;
            height: fit-content;
            display: block;
          }

          &.rotate {
            flex-direction: column !important;

            .editors {
              flex-direction: row !important;
            }

            .result {
              height: 30rem;
            }
          }

          .editors {
            flex: 1;
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;

            @media (max-width: 575.98px) {
              height: 100rem;
            }
          }

          .result {
            position: relative;
            flex: 1;
            width: 100%;
            height: 100vh;
            box-shadow: -10px -10px 5px 0px rgba(201, 198, 198, 0.75) inset;
            -webkit-box-shadow: -10px -10px 5px 0px rgba(201, 198, 198, 0.75) inset;
            -moz-box-shadow: -10px -10px 5px 0px rgba(201, 198, 198, 0.75) inset;

            @media (max-width: 575.98px) {
              height: 40rem;
            }

            .resData {
              border: none;
            }
          }
        }
      }
    }

    .setScore {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      margin: 1rem;

      input {
        width: 10rem;
        border: none;
        outline: none;
        box-shadow: 0px 0px 7px 5px #a5c2d4 inset;
        padding: 1rem 0.5rem;
        border-radius: 0.2rem;
      }

      button {
        position: relative;
        width: 10rem;
        border: none;
        outline: none;
        color: rgb(186, 205, 245);
        background: rgba(7, 50, 148, 1);
        padding: 0.8rem 1.4rem;
        border-radius: 0.2rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-weight: bold;
        font-family: var(--lumanosimo);
        overflow: hidden;
        margin-bottom: 2rem;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -100%;
          width: 100%;
          height: 100%;
          background: linear-gradient(90deg, transparent, #fff, transparent);
          transition: 0.5s;
        }

        &:hover {
          background-color: rgb(9, 56, 167);
          color: white;
        }

        &:hover::before {
          left: 100%;
        }
      }
    }
  }
}
