.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  .backCricle {
    position: absolute;
    opacity: 0.3;

    &.red {
      background-color: #e62e00;
      top: 0;
      right: 0;
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      animation: redCircleAnimation 15s linear 0s infinite alternate;
    }

    &.green {
      background-color: #00cc00;
      top: 50%;
      right: 40%;
      width: 30rem;
      height: 30rem;
      border-radius: 50%;
      animation: greenCircleAnimation 15s linear 0s infinite alternate;
    }

    &.blue {
      background-color: #00a3cc;
      top: 60%;
      left: 10%;
      width: 30rem;
      height: 30rem;
      border-radius: 50%;
      animation: blueCircleAnimation 15s linear 0s infinite alternate;
    }

    &.pink {
      background-color: #ff66cc;
      bottom: 60%;
      left: 10%;
      width: 30rem;
      height: 30rem;
      border-radius: 50%;
      animation: pinkCircleAnimation 15s linear 0s infinite alternate;
    }
  }

  .seeAllContainer {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0.5rem 1.2rem;

    button {
      border: none;
      outline: none;
      color: #000066;
      border: 2px solid #000066;
      background-color: white;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      font-weight: bold;
      z-index: 100;

      &:hover {
        background-color: #000066;
        color: white;
        transform: translate(0, -5px);
      }
    }
  }

  .coursesContainer {
    min-height: 25rem;

    .courses {
      width: 100%;
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 1rem;
      justify-items: center;
      align-items: center;
      max-height: 100%;
      overflow: hidden;
      text-align: left;
      padding: 1rem;
      margin: 1rem 0;
      background-color: transparent;

      @media (max-width: 1199.98px) {
        grid-template-columns: auto auto;
      }

      @media (max-width: 767.98px) {
        grid-template-columns: auto;
      }

      &.scrollable {
        overflow-y: scroll;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

@keyframes redCircleAnimation {
  0% {
    top: 0;
    right: 0;
  }
  50% {
    top: 90%;
    right: 30%;
  }
  100% {
    top: -5%;
    right: 50%;
  }
}

@keyframes greenCircleAnimation {
  0% {
    top: 50%;
    right: 40%;
  }
  50% {
    top: 100%;
    right: 0;
  }
  100% {
    top: 0;
    right: 70%;
  }
}

@keyframes blueCircleAnimation {
  0% {
    top: 60%;
    left: 10%;
  }
  50% {
    top: 10%;
    left: 60%;
  }
  100% {
    top: 120%;
    left: 0;
  }
}

@keyframes pinkCircleAnimation {
  0% {
    bottom: 60%;
    left: 10%;
  }
  50% {
    bottom: 10%;
    left: 90%;
  }
  100% {
    bottom: 80%;
    left: 40%;
  }
}
