.container {
  width: 100%;
  padding: 0.5rem;
  border: 2px dashed lightblue;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;

  p {
    color: black;
    font-size: 1rem;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
