.container {
  width: 100%;
  // height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-bg);
  gap: 2rem;
  padding: 2rem 0;
  position: relative;

  .studentScore {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    cursor: pointer;

    .studentData {
      width: 40rem;
      height: 100rem;
      min-height: 100rem;
      overflow: hidden;
      overflow-y: scroll;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      background-color: #e0e7eb;
      box-shadow: 0px 5px 7px 5px rgb(39, 39, 39);
      // border: 2px dasrgb(125, 162, 184)te;
      border-radius: 0.5rem;
      padding: 1.5rem 2rem;
      margin: 1.5rem auto;
      z-index: 10;

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: rgb(158, 158, 158);
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: gray;
      }

      .enteredData {
        position: relative;
        margin: 1.5rem 0;
        width: 100%;

        input {
          outline: none;
          border: none;
          width: 100%;
          padding: 0.8rem 1rem;
          border-radius: 0.2rem;
          background-color: #e0e7eb;
          font-size: 1rem;
          border: 2px solid #32434e;
          font-family: var(--poppins);
          color: #222222;
          box-shadow: 0px 0px 7px 5px #a5c2d4 inset;

          &:valid {
            outline: none;
            border: 2px solid #32434e;
          }
        }

        span {
          position: absolute;
          left: 10px;
          top: -1rem;
          color: #838383;
          pointer-events: none;
          font-size: 1rem;
          padding: 0.3rem;
          font-family: var(--poppins);
          color: #303030;
          border-left: 2px solid #32434e;
          border-right: 2px solid #32434e;
          background-color: #e0e7eb;
          font-size: 0.65rem;
        }
      }

      .studentCode {
        width: 100%;
        // height: 100%;
        min-height: 100vh;
        background-color: white;

        .ide {
          width: 100%;
          display: flex;

          @media (max-width: 575.98px) {
            min-height: fit-content;
            height: fit-content;
            display: block;
          }

          .editors {
            flex: 1;
            width: 100%;
            height: 50rem;
            display: flex;
            flex-direction: column;

            @media (max-width: 575.98px) {
              height: 100rem;
            }
          }

          .result {
            position: relative;
            flex: 1;
            width: 100%;
            height: 100%;
            box-shadow: 10px 10px 5px 0px rgba(201, 198, 198, 0.75) inset;
            -webkit-box-shadow: 10px 10px 5px 0px rgba(201, 198, 198, 0.75)
              inset;
            -moz-box-shadow: 10px 10px 5px 0px rgba(201, 198, 198, 0.75) inset;

            @media (max-width: 575.98px) {
              height: 40rem;
            }

            .resData {
              border: none;
            }
          }
        }
      }
    }
  }

  .title {
    font-family: var(--concertOne);
    font-size: 2.5rem;
    text-shadow: 5px 3px 5px #443dc1;
    letter-spacing: 0.3rem;
  }

  .courseDetails {
    width: 30rem;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #e0e7eb;
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    // box-shadow: 0px 0px 20px 15px #a5c2d4;

    @media (max-width: 575.98px) {
      width: 90%;
    }

    .border:nth-child(1) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 5px;
      border-radius: 1rem;
      background: linear-gradient(to right, #0c002b, #1779ff);
      animation: animate1 5s linear infinite;
      // filter: blur(2px);
    }

    .border:nth-child(2) {
      position: absolute;
      top: 0;
      right: 0;
      width: 5px;
      height: 100%;
      border-radius: 1rem;
      background: linear-gradient(to bottom, #0c002b, #1779ff);
      animation: animate2 5s linear infinite;
      // filter: blur(2px);
    }

    .border:nth-child(3) {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      border-radius: 1rem;
      background: linear-gradient(to left, #0c002b, #1779ff);
      animation: animate3 5s linear infinite;
      // filter: blur(2px);
    }

    .border:nth-child(4) {
      position: absolute;
      top: 0;
      left: 0;
      width: 5px;
      height: 100%;
      border-radius: 1rem;
      background: linear-gradient(to top, #0c002b, #1779ff);
      animation: animate4 5s linear infinite;
      // filter: blur(2px);
    }

    .enterCourseDetails {
      width: 100%;

      .enterData {
        position: relative;
        margin: 1.5rem 0;
        width: 100%;

        input,
        textarea {
          outline: none;
          border: none;
          width: 100%;
          padding: 0.8rem 1rem;
          border-radius: 0.2rem;
          background-color: #e0e7eb;
          font-size: 1rem;
          border: 2px solid #32434e;
          font-family: var(--poppins);
          color: #222222;
          box-shadow: 0px 0px 7px 5px #a5c2d4 inset;

          &:focus,
          &:valid {
            outline: none;
            border: 2px solid #32434e;
          }
        }

        textarea {
          height: 20rem;
        }

        span {
          position: absolute;
          left: 10px;
          top: -1rem;
          color: #838383;
          pointer-events: none;
          font-size: 1rem;
          padding: 0.3rem;
          font-family: var(--poppins);
          color: #303030;
          border-left: 2px solid #32434e;
          border-right: 2px solid #32434e;
          background-color: #e0e7eb;
          font-size: 0.65rem;
        }
      }
    }
  }

  .courseImage {
    background-color: #d9d9d9;
    width: 30rem;
    height: 100vh;
    //   width: 10rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
